

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#container {
    min-height: 100vh;
    background: rgba(68, 117, 136, 0.548);
    display: flex;
    align-items: center;

    
}

.card {
    max-width: 300px;
    max-height: 230px;
}

.card-header {
    max-width: 200px;
    max-height: 300px;
    

}

.img {
    max-width: 100%;
    max-height: 100%;
}

.card-text {
    background-color: white;
    max-width: 200px;
    font-size: 14px;
    text-align: justify;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h2 {
    font-size: 25px;
}