

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#container {
    min-height: 100vh;
    background: rgba(68, 117, 136, 0.548);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     
}

.card {
    box-sizing: border-box;
}

.card-header {
    max-width: 300px;
    max-height: 200px;
}

.img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: top;
}

.card-text {
    background-color: white;
    max-width: 300px;
    padding: 30px;
    font-size: 14px;
    text-align: justify;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}